* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= HEADER ================= */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 0 6rem;
}

.header-nav {
    flex: 1;
    z-index: 2;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.header-menu li {
    list-style: none;
    font-size: 1.125rem;
}

.link {
    color: #FAF4EA;
    text-decoration: none;
}

.first-link {
    color: #819B57;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 7rem;
    z-index: 2;
}

.order-button {
    width: 14.875rem;
    height: 3.6875rem;
    border: none;
    border-radius: 0.5rem;
    color: #FAF4EA;
    background-color: #819B57;
    font-size: 1.125rem;
    margin-left: 5rem;
    cursor: pointer;
    z-index: 2;
}

/* ================= HERO ================= */

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url("./background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::before {
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(18, 18, 17, 0.78) 0%, rgba(18, 18, 17, 0.6) 60%, rgba(18, 18, 17, 0) 100%);
}

.hero-title {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.hero-title h1 {
    font-size: 8rem;
    color: #819B57;
}

.hero-title span {
    color: #FAF4EA;
}

/* ================= BOTTOM STRIP ================= */

.text-bottom {
    display: flex;
    justify-content: center;
    background-color: #819B57;
    padding: 1rem 0;
}

.text-container {
    display: flex;
    gap: 7rem;
    color: #FAF4EA;
    font-size: 1.25rem;
}

.text-container li {
    list-style: none;
}

/* ================= MAIN ================= */

main {
    background-color: #FAF4EA;
}

.first-block {
    display: flex;
    min-height: 40vh;
    margin: 100px 100px;
    background-color: aqua;
}

.new-formats {
    display: flex;
    background-color: #FAF4EA;
    flex: 1;
    flex-direction: column;
    gap: 4rem;
}

.photo-block {
    display: flex;
    background-color: blue;
    flex: 1;  
}

.formats {
    display: flex;
    align-items: start;
    font-size: 4rem;
    color: rgba(49, 38, 26, 1);
}

.second-row {
    display: flex;
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
}

.last-row {
    display: flex;
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
}