* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= HEADER ================= */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 0 6rem;
}

.header-nav {
    flex: 1;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.header-menu li {
    list-style: none;
    font-size: 1.125rem;
}

.link {
    color: #FAF4EA;
    text-decoration: none;
}

.first-link {
    color: #819B57;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 7rem;
}

.order-button {
    width: 14.875rem;
    height: 3.6875rem;
    border: none;
    border-radius: 0.5rem;
    color: #FAF4EA;
    background-color: #819B57;
    font-size: 1.125rem;
    margin-left: 5rem;
    cursor: pointer;
}

/* ================= HERO ================= */

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url("./background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title h1 {
    font-size: 8rem;
    color: #819B57;
}

.hero-title span {
    color: #FAF4EA;
}

/* ================= BOTTOM STRIP ================= */

.text-bottom {
    display: flex;
    justify-content: center;
    background-color: #819B57;
    padding: 1rem 0;
}

.text-container {
    display: flex;
    gap: 7rem;
    color: #FAF4EA;
    font-size: 1.25rem;
}

.text-container li {
    list-style: none;
}