* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* ================= HEADER ================= */

body {
    font-family: 'Poppins', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 0 6rem;
}

.header-nav {
    flex: 1;
    z-index: 2;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.header-menu li {
    list-style: none;
    font-size: 1.125rem;
}

.link {
    color: #FAF4EA;
    text-decoration: none;
}

.first-link {
    color: #819B57;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 7rem;
    z-index: 2;
}

.order-button {
    width: 14.875rem;
    height: 3.6875rem;
    border: none;
    border-radius: 0.5rem;
    color: #FAF4EA;
    background-color: #819B57;
    font-size: 1.125rem;
    margin-left: 5rem;
    cursor: pointer;
    z-index: 2;
}

/* ================= HERO ================= */

.hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;

    background-image: url("./background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::before {
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(18, 18, 17, 0.78) 0%, rgba(18, 18, 17, 0.6) 60%, rgba(18, 18, 17, 0) 80%);
}

.hero-title {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.hero-title h1 {
    font-size: 8rem;
    color: #819B57;
}

.hero-title span {
    color: #FAF4EA;
}

/* ================= BOTTOM STRIP ================= */

.text-bottom {
    display: flex;
    justify-content: center;
    background-color: #819B57;
    padding: 1rem 0;
    z-index: 2;
}

.text-container {
    display: flex;
    gap: 7rem;
    color: #FAF4EA;
    font-size: 1.25rem;
}

.text-container li {
    list-style: none;
}

/* ================= MAIN ================= */

main {
    background-color: #FAF4EA;
    font-family: 'Poppins', sans-serif;
}

.first-block {
    display: flex;
    height: 41.125rem;
    margin: 0 100px;
    min-width: 75.3125rem;
    margin-right: 8.4375rem;
}

.new-formats {
    display: flex;
    background-color: #FAF4EA;
    flex: 1;
    flex-direction: column;
    margin-top: 6rem;
    height: 29.125rem;
}

.photo-block {
    display: flex;
    background-color: #FAF4EA;
    height: 29.125rem;
    justify-content: start;
    align-items: center; 
    margin-top: 6rem;
    margin-right: 0;
}

.formats {
    display: flex;
    align-items: start;
    font-size: 4rem;
    color: rgba(49, 38, 26, 1);
    
}

.formats-next {
    display: flex;
    align-items: start;
    font-size: 4rem;
    color: rgba(49, 38, 26, 1);
    margin-top: -1rem;
    letter-spacing: 2.6%;
}

.second-row {
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
    margin-top: 2.625rem; 
}

.second-row-row {
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
    margin-bottom: 2.625rem;
}

.last-row {
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
}

.last-row-one {
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
}

.last-row-two {
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
}

.last-row-three {
    color: rgba(49, 38, 26, 1);
    font-size: 1.125rem;
}

.accent {
    color: #819B57;
    font-size: 1.125rem;
}

.second-accent {
    color: #819B57;
    font-size: 1.125rem;
}

.rectangle {
    display: flex;
    width: 24.5625rem;
    height: 29.125rem;
    margin-left: 6.3125rem;
    background-image: url("./rightphoto.png");
    background-repeat: no-repeat;
    background-position: 38%;
    border-top-left-radius: 25rem;
    border-top-right-radius: 25rem;
}

.chefs {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.chefs-title {
    background-color: #FAF4EA;
    height: 10.5rem;
    font-size: 4rem;
    color: rgba(49, 38, 26, 1);
    line-height: 5.25rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.chefs-title-second::before,
.chefs-title-second::after {
    content: "";
    background-color: rgba(207, 207, 188, 1);
    height: 2px;
    width: 22rem;
}

.chefs-title-second::before {
    transform: translateX(-3rem) translateY(4rem);
}

.chefs-title-second::after {
    transform: translateX(3rem) translateY(4rem);
}

.chefs-title-second {
    display: flex;
    color: rgba(70, 89, 41, 1);
    justify-content: center;
}

.chefs-row {
    display: flex;
    width: 100%;
    height: 40rem;
}

.chef-left {
    display: flex;
    flex: 1;
    background-color: blue;
}

.chef-title-left {
    display: flex;
    margin-left: 1rem;
}

.chef-about-left-first {
    display: flex;
    
}

.chef-right {
    display: flex;
    flex: 1;
    background-color: red;
}

.photo-left {
    display: flex;
    height: 10rem;
    justify-content: start;
    align-items: center; 
    margin-top: 6rem;
    margin-right: 0;
}

.rectangle-left {
    display: flex;
    width: 16.75rem;
    height: 27.8125rem;
    background-image: url("./nastya.png");
    background-repeat: no-repeat;
}

.photo-right {
    display: flex;
    background-color: #FAF4EA;
    height: 10rem;
    justify-content: start;
    align-items: center; 
    margin-top: 6rem;
    margin-right: 0;
}

.rectangle-right {
    display: flex;
    width: 16.75rem;
    height: 27.8125rem;
    background-image: url("./vlad.png");
    background-repeat: no-repeat;
}